body{
background-color:#BABF2C;
}
header{
    background-color: #888C16;
    color: #473516;
}
section{
    background-color: #473516;
    color: #666F24;
}
aside{
    background-color: #473516;
    color: #666F24;
}
button{
    background-color: #5A5B73;
}

